* {
    background-color:#0A845D;
    box-sizing: border-box;
    font-family:sans-serif;
    margin: 0px;
    padding: 0px;
}

/* buttons */
.button {
    background-color: #4B2991;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #321c60;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
}

.button--large {
    width: 300px;
    height: 50px;
    font-size: 32px;
}

.button--small {
    width: 200px;
    height: 32px;
    font-size: 18px;
}
  
.button--disabled {
    background-color: #B29DDC;
    box-shadow: 0 4px #C1B3E0;
}

.button--disabled:hover {
    filter: brightness(1);
}

/* wordmark */
.wordmark {

}

.wordmark--large {
    width: 610px;
}

.wordmark--small {
    width: 144px;
}

/* non-home banner */
.non-home-banner {
    display: flex;
    align-items: center;

    padding: 0px clamp(34px, 2%, 233px);
}

.non-home-banner__profile-icon {
    width: 34px;
    height: 34px;
    margin-left: auto;
}

/* navigation */
.navigation__sign-in {
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.navigation__profile-icon {
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

/* card styling */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 89px;
    height: 144px;

    padding: 8px;

    background-color: #FAF9F6;
    border-radius: 8px;
}

.card__top-section {
    display: flex;
    flex-direction: column;

    margin-right: auto;

    background-color: inherit;
}

.card__bottom-section {
    display: flex;
    flex-direction: column;

    margin-left: auto;

    background-color: inherit;
    transform: rotate(180deg);
}

.card__number {
    background-color: inherit;
    font-size: 21px;
}

.card__suit {
    background-color: inherit;
    font-size: 21px;
}

.card--hearts {
    color: red;
}

.card--diamonds {
    color:#B46F01;
}

.card--spades {
    color: black;
}

.card--clubs {
    color: #0A73C7;
}

.card--hidden {
    color: black;
    background-color: black;
}

/* Singleplayer round end popup */
.round-end-singleplayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #00000088;
    z-index: 9999;
    pointer-events: all;
}

.round-end-singleplayer--hidden {
    display: none;
}

.round-end-singleplayer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    width: 233px;
    height: 233px;
    padding: 13px;

    background-color: #076144;
    border-radius: 13px;
}

.round-end-singleplayer__text {
    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: inherit;
}

.round-end-singleplayer__header {
    background-color: inherit;
    text-align: center;
}

.round-end-singleplayer__message {
    background-color: inherit;
    text-align: center;
}

/* multiplayer join panel */
.multiplayer-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #00000088;
    z-index: 9999;
    pointer-events: all;
}

.multiplayer-join--hidden {
    display: none;
}

.multiplayer-join__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    width: 233px;
    height: 233px;
    padding: 13px;

    position: relative;
    background-color: #076144;
    border-radius: 13px;
}

.multiplayer-join__header {
    color: white;
    background-color: inherit;
    text-align: center;
}

.multiplayer-join__exit {
    position: absolute;
    top: 13px;
    right: 13px;

    background-color: inherit;
    border: none;
    font-size: 21px;
    color: white;
    cursor: pointer;
}

.multiplayer-join__form {
    background-color: inherit;
    text-align: center;
}

.multiplayer-join__label {
    color: white;
    background-color: inherit;
    text-align: center;
    font-weight: bold;
}

.multiplayer-join__input {
    width: 144px;
    height: 34px;
    background-color: white;
    font-size: 21px;
    text-align: center;
}

/* multiplayer hand display */
.multiplayer-hand {
    display: flex;
    flex-direction: column;

    width: 233px;
    padding: 21px;
    gap: 21px;

    background-color: #076144;
    border-radius: 8px;
}

.multiplayer-hand__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;

    background-color: inherit;
}

.multiplayer-hand__icon {
    width: 34px;
    height: 34px;

    background-color: inherit;
    border-radius: 100%;
}

.multiplayer-hand__name {
    font-size: 18px;
    font-weight: bold;
    background-color: inherit;
}

.multiplayer-hand__score {
    background-color: inherit;
}

.multiplayer-hand__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;

    background-color: inherit;
}