/* page layout */
body {
    display: flex;
    flex-direction:column;
}

.menu {
    display: flex;
}

/* navigation */
.navigation {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1%;
}

.navigation__profile-icon {
    width: 32px;
    margin-right: 10px;
    margin-top: 10px;
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
}