  
.single-player-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
  
  .single-player-header__title {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.single-player-header__text {
    font-size: 55px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0;
}